@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
.about-page {
  background: #fffaea;
}
.main-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  text-decoration-line: underline;
  padding-top: 45px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #673c13;
  text-align: center;
  padding-bottom: 15px;
  text-shadow: 1px -1px 1px#F4BC2B;
}

.text-container {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  z-index: 1;
  padding-left: 8.47vw;
  padding-right: 8.47vw;
}
#text-1 {
  padding-bottom: 30px;
}
#text-2 {
  padding-bottom: 29px;
}

#text-3 {
  padding-bottom: 30px;
}

.yellow-circle {
  position: relative;
  z-index: 0;
}

.image-container {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  padding-bottom: 15px;
  z-index: 1;
  padding: 0 5% 5% 5%;
  box-sizing: border-box;
}

#circle-1 {
  position: absolute;
  left: -10%;
  z-index: 0;
  margin-top: 5%;
}
#circle-1-desk {
  display: none;
}

#circle-2 {
  position: absolute;
  z-index: 0;
  right: 0%;
  margin-top: 9%;
  overflow: hidden;
}
#circle-2-desk {
  display: none;
}

.testimonial-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  text-align: center;
  color: #1a1a18;
  padding-bottom: 20px;
}

.certification-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #1a1a18;
  text-transform: uppercase;
  padding-top: 34px;
  padding-bottom: 10px;
}

.certification-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 29px;
}
.box {
  overflow: hidden;
}
/* #img-1 {
    padding-top: 22px;
}*/

#img-2 {
  padding-bottom: 10px;
}

/* #img-3 {
    padding-top: 5px;
} */

#img-4 {
  padding-bottom: 10px;
}
