@media screen and (min-width: 768px) {
  .main-title {
    font-size: 42px;
    line-height: 117px;
  }

  .text-container {
    font-size: 20px;
    line-height: 28px;
  }

  .image-container {
    position: relative;
    display: block;
    width: 33%;
    padding-bottom: 15px;
    z-index: 1;
  }

  .testimonial-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 47px;
    color: #1a1a18;
  }

  .certification-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    color: #1a1a18;
  }

  .img-cert {
    width: 10%;
    padding: 1% 5%;
  }

  #box1 {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  #box2 {
    padding-bottom: 6%;
  }

  #image-1 {
    float: right;
    margin-right: 5%;
    margin-left: 5%;
    padding: 2.5%;
    box-sizing: border-box;
  }

  #image-2 {
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2.5%;
    box-sizing: border-box;
  }

  #circle-1 {
    display: none;
  }

  #circle-1-desk {
    display: inline;
    position: absolute;
    width: 54%;
    margin-top: 1%;
    right: 0;
    padding: 0 0 5% 5%;
    box-sizing: border-box;
  }

  #circle-2 {
    display: none;
  }

  #circle-2-desk {
    display: inline;
    position: absolute;
    width: 32%;
    left: 0;
    margin-left: -6%;
    margin-top: -4%;
    /* transform: scaleX(-1); */
    box-sizing: border-box;
  }

  #text-2 {
    text-align: left;
    width: 58%;
    box-sizing: border-box;
  }

  #text-3 {
    text-align: left;
    margin-top: 10%;
  }

  #text-1 {
    padding-bottom: 0;
    padding-top: 3%;
  }
} ;
