@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");

.main-product-page {
  background: #fffaea;
}

.product-page {
  padding-top: 10%;
}

.carousel.carousel-slider .control-arrow:hover {
  background: rgba(0, 0, 0, 0);
}
.carousel.carousel-slider .control-arrow {
  top: 0;
  color: rgb(0, 0, 0);
  font-size: 20px;
  bottom: 0;
  margin-top: 0;
  padding: 2px;
}
.carousel .control-next.control-arrow:before {
  border-left: 15px solid rgb(255, 255, 255);
}

.title {
  padding-top: 32px;
  padding-left: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  color: #f4bc2b;
  text-transform: uppercase;
  padding-bottom: 6px;
}

.product-content {
  /* padding-top: 20px; */
  padding-left: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
  /* margin-left: 7px; */
}

.carousel .slide img {
  width: 50%;
  vertical-align: top;
  border: 0;
  float: right;
}

.carousel .slide {
  text-align: left;
}

.benefits-title {
  padding-top: 40px;
  padding-left: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  color: #f4bc2b;
}

.benefits-details {
  padding-top: 10px;
}

.detail-points {
  /* display: block; */
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.process {
  padding-top: 20px;
  margin-bottom: -8%;
}

.process-title {
  padding-left: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  color: #f4bc2b;
}

.process-details {
  padding-top: 13px;
  vertical-align: top;
  text-align: center;
  width: fit-content;
  display: flex;
}

.process-image {
  display: flex;
  padding-left: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p-img {
  /* padding-left: 36px; */
  width: 27.89px;
  height: 37.07px;
  /* margin: 0 auto; */
}

.image-text {
  display: block;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  color: #000000;
  /* padding-left: 35px; */
  padding-bottom: 38px;
}

#groundnut {
  padding-bottom: 30px;
}
