@media screen and (min-width: 768px) {
  .carousel .slide img {
    width: 35%;
    vertical-align: top;
    border: 0;
    float: right;
  }
  .carousel.carousel-slider .control-arrow:hover {
    background: rgba(0, 0, 0, 0);
  }
  .carousel.carousel-slider .control-arrow {
    top: 0;
    color: rgb(0, 0, 0);
    font-size: 26px;
    bottom: 0;
    margin-top: 0;
    padding: 10px;
  }
  .carousel .control-next.control-arrow:before {
    border-left: 8px solid rgb(255, 255, 255);
}

  .product-page {
    padding-top: 0.5%;
  }
  .title {
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
  }
  .benefits-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }
  .detail-points {
    font-size: 18px;
    line-height: 22px;
  }
  .process-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 15px;
  }
  .product-content {
    font-size: 18px;
    line-height: 22px;
  }
  .process-details {
    /* padding-top: 13px; */
    vertical-align: top;
    text-align: center;
    width: 63.65vw;
    height: min-content;
    display: flex;
  }
  .process-image {
    display: flex;
    padding-left: 15px;
    width: 19%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .image-text {
    font-size: 17px;
    line-height: 20px;
    padding-top: 8px;
  }
  .p-img {
    width: 60%;
    height: 30%;
  }
  .product-i {
    margin-bottom: -9.5%;
    width: 30%;
  }

  /* #groundnut {
    padding-bottom: 2%;
  } */
}
