@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");

.product-page {
  background: #fffaea;
  padding-top: 8.88%;
}

.title {
  padding-top: 32px;
  padding-left: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  color: #f4bc2b;
}

.product-content {
  padding-top: 20px;
  padding-left: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
  /* margin-left: 7px; */
}

.product-main-img img {
    float: right;
    z-index: -1;
    margin-left: 7px;
}

.benefits-title {
  padding-top: 40px;
  padding-left: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  color: #f4bc2b;
}

.benefits-details {
  padding-top: 10px;
}

.detail-points {
  /* display: block; */
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.process {
  padding-top: 20px;
}

.process-title {
  padding-left: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  color: #f4bc2b;
}

.process-details {
  padding-top: 13px;
  vertical-align: top;
  text-align: center;
  width: 90vw;
  display: flex;
}

.process-image {
  padding-left: 15px;
}

.p-img {
  /* padding-left: 36px; */
  width: 27.89px;
  height: 37.07px;
  /* margin: 0 auto; */
}

.image-text {
  display: block;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  color: #000000;
  /* padding-left: 35px; */
  padding-bottom: 38px;
}
