@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
.main-image {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100vw;
  z-index: 1;
}
.process-section {
    width: 100vw;
}

img.process{
    display: flex;
    position: relative;
    z-index: 2;
    margin-top: -23.88%;
    margin-left: 6.4%;
    width: 89vw;
}
