.scale-up-center {
  -webkit-animation: scale-up-center 1.2s ease-out both;
  animation: scale-up-center 1.2s ease-out both;
}
.fade-in {
  -webkit-animation: fade-in 1.2s ease-in-out backwards;
  animation: fade-in 1.2s ease-in-out backwards;
}
.fade-in-left {
  -webkit-animation: fade-in-left 1.2s ease-in-out backwards;
  animation: fade-in-left 1.2s ease-in-out backwards;
}
.fade-in-right {
  -webkit-animation: fade-in-right 1.2s ease-in-out backwards;
  animation: fade-in-right 1.2s ease-in-out backwards;
}
.fade-in-bl {
  -webkit-animation: fade-in-bl 1.2s ease-in-out both;
  animation: fade-in-bl 1.2s ease-in-out both;
}
.fade-in-br {
  -webkit-animation: fade-in-br 1.2s ease-in-out both;
  animation: fade-in-br 1.2s ease-in-out both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
@-webkit-keyframes scale-up-center-2 {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center-2 {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-bl {
  0% {
    -webkit-transform: translateX(-200px) translateY(200px);
    transform: translateX(-200px) translateY(200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bl {
  0% {
    -webkit-transform: translateX(-200px) translateY(200px);
    transform: translateX(-200px) translateY(200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-br {
  0% {
    -webkit-transform: translateX(200px) translateY(200px);
    transform: translateX(200px) translateY(200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-br {
  0% {
    -webkit-transform: translateX(200px) translateY(200px);
    transform: translateX(200px) translateY(200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}
