.para-text {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  display: none;
}

.footer-details {
    font-size: 12px;
}

.quick-link-title{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    margin-bottom:2%;
    display: none;
  }
  
  .page-links{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    margin-top: 2%;
    display: none;
  }

@media screen and (min-width: 768px) {
    .footer-details {
        font-size: 16px;
    }
    .para-text {
        display: flex;
    }
    .logo {
        height: 100px;
        width: 234px !important;
        margin-left: -25px !important;
        padding: 0 !important;
        margin-top: -39px;
    }

    .quick-link-title {
        display: flex;
        margin-bottom: 10px;
    }
    
    .page-links {
        display: flex !important;
    }

    .footer-details {
        padding-bottom: 0.5% !important;

    }
    .left-content {
        width: 70%;
        float: left;
        height: 100%;
    }
    .quick-links {
        float: right;
        width: 17%;
        padding: 1.5%;
        margin-top: 19px;
        margin-left: auto;
        margin-right: auto;
    }
    .follow-us{
      font-size: 18px !important;
    }
    .social-media {
        position: absolute;
        margin-right: auto;
        margin-left: 65%;
        margin-top: 150px;
    }
    .smicon {
        padding: 20% 10% !important;
    }
    .footer {
        box-sizing: border-box;
        height: 375px !important;
    }   
}
