@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

.footer {
  background-color: #373737;
  position: relative;
  /* width: 100vw; */
  bottom: 0;
  color: white;
  font-size: 25px;
  /* height: 557px; */
  padding: 5% 10%;
  padding-bottom: 5%;
}

.footer-content {
  display: block;
  text-align: left;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 5%;
}

.footer-details {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: left;
  text-decoration: none;
  padding-bottom: 5%;
  
}

a {
display: flex;
  text-decoration: none;
  color: #ffffff;
  align-items: center;
}

.icon {
min-width: 20px;
padding: 10px;
}

.details-text {
    display: inline-flex;
}

.follow-us{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 700;
  font-size: 87.5%;
}

#phone-icon {
  transform: scale(-1, 1);
}

.social-media {
  padding-top: 2%;
  text-align: center;
}

.smicon {
  padding: 3%;
  display: inline-block;
  padding-bottom: 5px;
}

